[submodule "Source Code/Libs/ChaiScript"]
	path = 3rdParty/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript
	ignore = dirty
[submodule "Source Code/Libs/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "Source Code/Libs/meshoptimizer"]
	path = 3rdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
	ignore = dirty
[submodule "Source Code/Libs/ConcurrentQueue"]
	path = 3rdParty/ConcurrentQueue
	url = https://github.com/cameron314/concurrentqueue
	ignore = dirty
[submodule "Source Code/Libs/CPPGoap"]
	path = 3rdParty/CPPGoap
	url = https://github.com/cpowell/cppGOAP
	ignore = dirty
[submodule "Source Code/Libs/MemoryPool"]
	path = 3rdParty/MemoryPool
	url = https://github.com/cacay/MemoryPool
	ignore = dirty
[submodule "Source Code/Libs/ReCast"]
	path = 3rdParty/ReCast
	url = https://github.com/recastnavigation/recastnavigation
	ignore = dirty
[submodule "Source Code/Libs/simplefilewatcher"]
	path = 3rdParty/simplefilewatcher
	url = https://github.com/jameswynn/simplefilewatcher
	ignore = dirty
[submodule "Source Code/Libs/SimpleINI"]
	path = 3rdParty/SimpleINI
	url = https://github.com/brofield/simpleini
	ignore = dirty
[submodule "Source Code/Libs/skarupke"]
	path = 3rdParty/skarupke
	url = https://github.com/skarupke/flat_hash_map
	ignore = dirty
[submodule "Source Code/Libs/STB"]
	path = 3rdParty/STB
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "Source Code/Libs/unit_test_framework"]
	path = 3rdParty/unit_test_framework
	url = https://gitlab.com/cppocl/unit_test_framework
	ignore = dirty
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
	ignore = dirty
[submodule "3rdParty/TileableVolumeNoise"]
	path = 3rdParty/TileableVolumeNoise
	url = https://github.com/sebh/TileableVolumeNoise
[submodule "3rdParty/CurlNoise"]
	path = 3rdParty/CurlNoise
	url = https://github.com/rajabala/CurlNoise
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdParty/ImGuiAl"]
	path = 3rdParty/ImGuiAl
	url = https://github.com/leiradel/ImGuiAl.git
[submodule "3rdParty/imgui_club"]
	path = 3rdParty/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "3rdParty/ImGuizmo"]
	path = 3rdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rdParty/imgui-node-editor"]
	path = 3rdParty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "3rdParty/vk-bootstrap"]
	path = 3rdParty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "3rdParty/SPIRV-Reflect"]
	path = 3rdParty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "3rdParty/Vulkan-Descriptor-Allocator"]
	path = 3rdParty/Vulkan-Descriptor-Allocator
	url = https://github.com/vblanco20-1/Vulkan-Descriptor-Allocator.git
[submodule "3rdParty/EASTL"]
	path = 3rdParty/EASTL
	url = https://github.com/electronicarts/EASTL
